
.App {
  text-align: center;
 
  
}

.topInput input{
  width: 300px;
  height:60px ;
  border: 2px solid black;
  border-radius: 5px;
}
.first-row .delete{
  background-color: red;
}
.first-row .delete:hover {
  background-color: seagreen;
  color: white;
}

.first-row .reset{
  background-color: blue;
  color: whitesmoke;
}
.row{
  margin: 5px;
  width: 300px;
  height: auto;
  border: 3px solid black;
  background-color: gray;
}
.row input{
  width: 50px;
  height: 50px;
}
.row input:hover{
  color: white;
  background-color: black;

}
.down .zero{
  width: 100px;
  height: 50px;
  color: white;
  background-color:black;
}
.down .zero:hover{
  width: 100px;
  height: 50px;
  color: white;
  background-color:gray;
}
.right-corner{
  background-color: rgb(255, 225, 0);
}